html {
    height: 100%;
    width: 100%;
  }
  

  body {
    background-color: gray;
  }

  h3 {
    color: green;
  }

  body > main > div:nth-child(3) > div.col > h3 {
    color: blue;
  }

  h3#special {
    color: red;
  }
  